.card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 400px;
}

.card-header {
    padding: 10px;
    border: 1px solid #c3c3c3;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}

.card-body {
    font-size: 18px;
    width: 100%;
    display: flex;
    padding: 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}