.card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 300px;
}

.card-header {
    padding: 10px;
    border: 2px solid #aaa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    box-shadow: 3px 4px #ccc;
    width: 100%;
}

.card-body {
    font-size: 14px;
    width: 95%;
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}