.page-container, footer {
    background-color: #000;
}

main, footer {
    color: #fff;
}

$nav-bg-color: #0e3544;
$nav-submenu-color: #fff;
$nav-submenu-color-hover: #00b8ff;
$nav-submenu-bg-color: #000;
$nav-submenu-border-color: #fff;
$nav-mobile-submenu-bg-color: #000;