// Root
$font-main: 'Raleway', sans-serif;
$font-head: serif;

// Scrollbar
$scrollthumb-color: #00b8ff;
$scrolltrack-color: #fff;

// Navigation
$nav-color: #fff;
$nav-bg-color: #00b8ff;
$nav-color-hover: rgba(255,0,0,0.5);
$nav-border-color: #fff;
$nav-submenu-color: #000;
$nav-submenu-color-hover: #00b8ff;
$nav-submenu-bg-color: #fff;
$nav-submenu-border-color: #000;
$nav-mobile-submenu-bg-color: #fff;

// Simple Title
$title-bg-color: #fff;
$title-border-color: #000;
$title-box-color: #eee;