@use 'style1-theme';

@media(min-width: 768px) {
    .logo-container {
        img {
            width: 75%;
        }
    }

    .nav-container {
        height: 100%;
    }

    nav {
        justify-content: center;
        width: 150px;

        > ul {
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;
            align-items: center;

            > li:hover {
                > a {
                    border: 5px dotted style1-theme.$nav-border-color;
                    padding: 10px 20px;
                }
            }
        }

        li:not(:first-child) {
            margin-top: 25px;
        }

        li {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;

            > ul {
                display: none;

                li {
                    display: flex;
                    flex-direction: column;
                }

                a {
                    display: flex;
                }

                a:not(:first-child) {
                    margin-top: 25px;
                }
            }
        }

        li:hover {
            > ul {
                display: block;
                position: absolute;
                left: 82px;
                padding: 15px;
                background-color: style1-theme.$nav-submenu-bg-color;
                min-width: 80px;
                top: -10px;
                border-style: double;
                border-left-width: 10px;
                border-top-width: 10px;
                border-right-width: 10px;
                border-bottom-width: 10px;
                border-right-color: style1-theme.$nav-submenu-border-color;
                border-bottom-color: style1-theme.$nav-submenu-border-color;
                border-left-color: style1-theme.$nav-submenu-border-color;
                border-top-color: style1-theme.$nav-submenu-border-color;
            }
        }
    }

    .page-container {
        margin-left: 150px;
    }
}

@media(max-width: 767px) {
    .page-container {
        margin-bottom: 65px;
        padding-bottom: 10px;
    }

    .logo-container {
        img {
            width: 100%;
        }
    }

    .nav-container {
        position: fixed;
        width: 100vw;
        height: 65px;
        bottom: 0;
    }

    .nav-tabs {
        display: flex;
        ul {
            display: flex;
        }
        li {
            display: flex;
            justify-content: center;
        }
    }

    nav {
        width: 100%;
        display: flex;
        align-items: center;

        ul {
            li {
                align-items: center;
                flex-direction: column;
            }

            li:first-child:nth-last-child(1) {
                width: 100%;
            }

            li:first-child:nth-last-child(2), li:first-child:nth-last-child(2) ~ li {
                width: 50%;
            }

            li:first-child:nth-last-child(3), li:first-child:nth-last-child(3) ~ li {
                width: 33.3333%;
            }

            li:first-child:nth-last-child(4), li:first-child:nth-last-child(4) ~ li {
                width: 25%;
            }
        }

        > ul {
            justify-content: center;
            padding: 0;
            margin: 0;
            width: 100%;
        }

        li:hover {
            .submenu {
                display: flex;
            }
        }
    }
    
    .submenu {
        position: absolute;
        bottom: 50px;
        background-color: style1-theme.$nav-mobile-submenu-bg-color;
        padding: 10px;
        border: 5px double #000;
        display: none;

        a:not(:first-child) {
            padding-top: 20px;
        }
    }

    .logo-container {
        width: 90%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .tab {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
