.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666%;
}

.col-1 {
  width: 8.33333%;
}

@media (min-width: 1200px) {
  .col-xl-12 {
    width: 100%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-4 {
    width: 33.33333%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-2 {
    width: 16.66666%;
  }

  .col-xl-1 {
    width: 8.33333%;
  }
}
@media (max-width: 1199px) {
  .col-lg-12 {
    width: 100%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666%;
  }

  .col-lg-1 {
    width: 8.33333%;
  }
}
@media (max-width: 767px) {
  .col-md-12 {
    width: 100%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666%;
  }

  .col-md-1 {
    width: 8.33333%;
  }
}
@media (max-width: 319px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666%;
  }

  .col-sm-1 {
    width: 8.33333%;
  }
}
[class~=__flex] {
  display: flex;
}

[class~=__center] {
  justify-content: center;
}

header {
  padding-top: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  max-width: 750px;
}
.logo-container img {
  margin-bottom: 10px;
}

.search-container input {
  width: 100%;
  height: 30px;
  font-size: 35px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 3px #ccc;
  display: none;
}
.search-container input::placeholder {
  color: #ccc;
}
.search-container input:-ms-input-placeholder {
  color: #ccc;
}

h1, h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

main {
  margin-right: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.simple.title {
  background-color: #fff;
  padding: 5px;
  text-align: center;
  box-shadow: 5px -5px #d6c5b7;
  border: 1px solid #000;
}
.simple.title h1 {
  font-family: serif;
}
.simple.title p {
  font-style: italic;
  position: relative;
}

.simple.text {
  background-color: #fff;
  padding: 10px 20px;
}

.simple.text:not(:first-child) {
  margin-left: 10px;
}

.block-wrapper {
  margin: 10px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  p {
    font-size: 18px;
  }

  .simple.title {
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
  }
  .simple.title p:before, .simple.title p:after {
    height: 1px;
    width: 50px;
    background-color: #000;
    content: "";
    position: relative;
    display: inline-block;
    bottom: 5px;
    margin-right: 10px;
  }
  .simple.title p:before {
    margin-right: 10px;
  }
  .simple.title p:after {
    margin-left: 10px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 14px;
  }

  .simple.title p:before, .simple.title p:after {
    content: none;
  }
}
.nav-container {
  position: fixed;
  display: flex;
}

ul {
  list-style: none;
  display: flex;
}

li {
  display: flex;
}

.nav-container {
  background-color: #00b8ff;
}
.nav-container a {
  color: #fff;
}

.submenu a {
  color: #000;
  display: flex;
}
.submenu a:hover {
  color: #00b8ff;
}

footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .logo-container img {
    width: 75%;
  }

  .nav-container {
    height: 100%;
  }

  nav {
    justify-content: center;
    width: 150px;
  }
  nav > ul {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
  nav > ul > li:hover > a {
    border: 5px dotted #fff;
    padding: 10px 20px;
  }
  nav li:not(:first-child) {
    margin-top: 25px;
  }
  nav li {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  nav li > ul {
    display: none;
  }
  nav li > ul li {
    display: flex;
    flex-direction: column;
  }
  nav li > ul a {
    display: flex;
  }
  nav li > ul a:not(:first-child) {
    margin-top: 25px;
  }
  nav li:hover > ul {
    display: block;
    position: absolute;
    left: 82px;
    padding: 15px;
    background-color: #fff;
    min-width: 120px;
    top: -10px;
    border-style: double;
    border-left-width: 10px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-right-color: #000;
    border-bottom-color: #000;
    border-left-color: #000;
    border-top-color: #000;
  }

  .page-container {
    margin-left: 150px;
  }
}
@media (max-width: 767px) {
  .page-container {
    margin-bottom: 65px;
  }

  .logo-container img {
    width: 100%;
  }

  .nav-container {
    position: fixed;
    width: 100vw;
    height: 65px;
    bottom: 0;
    z-index: 1;
  }

  .nav-tabs {
    display: flex;
  }
  .nav-tabs ul {
    display: flex;
  }
  .nav-tabs li {
    display: flex;
    justify-content: center;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
  }
  nav ul li {
    align-items: center;
    flex-direction: column;
  }
  nav ul li:first-child:nth-last-child(1) {
    width: 100%;
  }
  nav ul li:first-child:nth-last-child(2), nav ul li:first-child:nth-last-child(2) ~ li {
    width: 50%;
  }
  nav ul li:first-child:nth-last-child(3), nav ul li:first-child:nth-last-child(3) ~ li {
    width: 33.3333%;
  }
  nav ul li:first-child:nth-last-child(4), nav ul li:first-child:nth-last-child(4) ~ li {
    width: 25%;
  }
  nav > ul {
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  nav li:hover .submenu {
    display: flex;
  }

  .submenu {
    position: absolute;
    bottom: 50px;
    background-color: #fff;
    padding: 10px;
    border: 5px double #000;
    display: none;
  }
  .submenu a:not(:first-child) {
    padding-top: 20px;
  }

  .logo-container {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .tab {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 400px;
}

.card-header {
  padding: 10px;
  border: 1px solid #c3c3c3;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}

.card-body {
  font-size: 18px;
  width: 100%;
  display: flex;
  padding: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-header {
  background-color: #efe9e9;
}

.card-body {
  background-color: #fff;
}

/* IE Support */
header, section, footer, aside, main, article, figure {
  display: block;
}

:root {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
body * {
  box-sizing: inherit;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: #00b8ff;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

a {
  text-decoration: none;
}

.page-container {
  padding-bottom: 20px;
  padding-left: 25px;
  height: 100%;
  background-color: #ffddbf;
}

/*# sourceMappingURL=style1.css.map */
