@font-face {
    font-family: "Vidaloka";
    src: url("../fonts/Vidaloka-Regular.ttf") format("truetype"),
        url("../fonts/Vidaloka-Regular.woff") format("woff"),
        url("../fonts/Vidaloka-Regular.woff2") format("woff2");
}

:root {
    font-family: "Vidaloka";
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {

}

.__fl-l {
    float: left;
}

.title {
    text-align: center;
    font-weight: 100;
}

@media(min-width: 768px) {
    .title {
        font-size: 84px;
    }
}

@media(max-width: 1199px) {
    nav {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a:not(:first-child) {
        margin-top: 10px;
    }
}

@media(max-width: 767px) {
    .title {
        font-size: 48px;
    }
}