@font-face {
    font-family: "Vidaloka";
    src: url("../fonts/Vidaloka-Regular.ttf") format("truetype"),
        url("../fonts/Vidaloka-Regular.woff") format("woff"),
        url("../fonts/Vidaloka-Regular.woff2") format("woff2");
}

:root {
    font-family: "Vidaloka";
}

.title {
    text-align: center;
}

@media(min-width: 768px) {
    .title {
        font-size: 84px;
    }
}

@media(max-width: 767px) {
    .title {
        font-size: 48px;
    }
}