@font-face {
    font-family: "Vidaloka";
    src: url("../fonts/Vidaloka-Regular.ttf") format("truetype"),
        url("../fonts/Vidaloka-Regular.woff") format("woff"),
        url("../fonts/Vidaloka-Regular.woff2") format("woff2");
}

:root {
    font-family: "Vidaloka";
}

body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.__fl-l {
    float: left;
}

.title {
    text-align: center;
    font-weight: 100;
}

@media(min-width: 768px) {
    .title {
        font-size: 84px;
    }
}

@media(max-width: 767px) {
    .title {
        font-size: 48px;
    }
}